
<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Registrando...</h3>
      </div>

    <div class="card-body">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputVerify3">ID</label>
          <input class="form-control" type="code" formControlName="code">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.code.errors?.required">
            Id
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.code.errors?.pattern">
           Solo numeros
          </div>
        </div>

        <div class="form-group">
          <label for="inputVerify3">Cedula</label>
          <input class="form-control" type="cedula" formControlName="cedula">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.cedula.errors?.required">
            Id
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.cedula.errors?.pattern">
            Enter Numbers Only
          </div>
        </div>

        <div class="form-group">
          <label for="inputName">Nombre</label>
          <input class="form-control" type="text" formControlName="name">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
            Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3">Email</label>
          <input class="form-control" type="text" formControlName="email">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
            Ingrese your email.
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
            Enter valid email.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3">Depatartamento</label>
          <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
            formControlName="designation">
            <option value="">Elejir</option>
            <option *ngFor="let employeeProfile of EmployeeProfile" value="{{employeeProfile}}">{{employeeProfile}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.designation.errors?.required">
            Choose designation.
          </div>
        </div>

        <div class="form-group">
          <label for="inputVerify3">Telefono</label>
          <input class="form-control" type="text" formControlName="phoneNumber">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.required">
            Ingrese su numero de telefono
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.pattern">
            Enter Numbers Only
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Registrar/Guardar</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>